.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
    font-family: "Roboto Thin", sans-serif;

    .games {
        list-style: none;
        padding: 0;

        .game {
            padding: 1rem 2rem;
            background-color: #191919;
            border: 0.005rem solid #f8f8f8;
            user-select: none;
            text-decoration: none;
            color: #f8f8f8;

            transition: all 0.5s ease-in-out;
            &:hover {
                color: #f8f8f8;
                background-color: #535353;
                cursor: pointer;
                -webkit-box-shadow: 6px 6px 0 0 rgb(156, 77, 161);
                -moz-box-shadow: 6px 6px 0 0 rgba(156, 77, 161);
                box-shadow: 6px 6px 0 0 rgba(156, 77, 161);
            }
        }
    }
}
