.puzzle-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 1rem;
    padding: 1rem;

    .pieces-container {
        width: 20%;
        overflow: auto;
        scrollbar-width: none;
        max-height: 90vh;

        .image-piece {
            width: 100%;
            height: auto;
        }
    }

    .image-container {
        width: 90%;
        max-height: 100vh;

        .image {
            object-fit: scale-down;
            width: 100%;
            height: auto;
        }
    }
}
